<div style="width: 50%;">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Región</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of cafes">

                <th scope="row">{{c.id}}</th>

                <td>{{c.nombre}}</td>
                <td>{{c.tipo}}</td>
                <td>{{c.region}}</td>
            </tr>


        </tbody>
    </table>
    <div class="row">
        <div class="col-12">Total café de origen: {{origin}}</div>
        <div class="col-12">Total café blend: {{blend}}</div>
    </div>
</div>